li{
  padding: 10px;
  list-style-type: none;
}
 
footer{
  background-color: #777;
    padding: 2px;
    height:150px;
    text-align: center;
    color: white;
}

p{
  padding: 70px;
  color: white;
  
}
table{
  border: 5px solid black;
  padding: 15px;

}


.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }